.cardcontainer{
    width: auto;
    height: auto;
    border-radius: 30px;
    border-color: black;
    border-width: 2px;
}
.cardiv{
    padding: 20px;
    display: flex;
    flex-direction: column;

}

.cardalign{
    display: flex;
    flex-direction: row;
    }
