.calendar-container {
  background-color: #f9fbff;
  border-radius: 20px;
}

.calendar-grid {
  display: flex;
  gap: 16px;
  margin-top: 12px;
}

.calendar-column {
  display: flex;
  flex-direction: column;
}

.calendar-day {
  text-align: center;
  /* font-weight: bold; */
  margin-bottom: 8px;
}

.calendar-slot {
  height: 30px;
  background-color: #edf2fa;
  margin-bottom: 6px;
  border-radius: 6px;
}

.active-slot {
  background-color: #637bfd;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
