.App {
  margin: 10px;
  padding: 10px;
  background-color:#f0f2f5;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}


.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.main-content {
  flex: 1;
}

@media (max-width: 768px) {
  /* .content-wrapper {
    flex-direction: column;
  } */

  .container {
    padding: 15px;
    margin: 10px;
  }
}
